.payments-history {
    padding: 10px 20px;
    width: 760px;
    border-radius: var(--border-radius);
    background-color: var(--color-dark);

    &__header {
        height: 25px;
        
        &::after {
            content: '';
            position: absolute;
            width: 720px;
            height: 1px;
            background-color: var(--color-text);
            opacity: .3;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    &__item {
        width: 150px;
        height: fit-content;
    }

    &__body {
        margin-top: 20px;
    }
}