.information {

    &__list {
        display: flex;
        flex-direction: row;
        column-gap: 80px;
    }

    &__item {
        width: 280px;
        height: 160px;
        background-color: var(--color-dark);
        border-radius: var(--border-radius);
    }
}