.profile-menu {
    box-shadow: 4px 0 rgba($color: #000000, $alpha: .1);
    width: 240px;
    display: flex;
    justify-content: center;

    
    &__info {
        margin: 5px auto;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
    }

    &__list {
        width: 240px;
        margin: 20vh 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item {
        text-align: center;
        font-size: 24px;

        &:hover {
            background-color: var(--color-accent);
        }
    }

    &__link {
        display: block;
        padding: 15px;
    }

}